<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/home.css">
    <title>Document</title>
</head>

<body>
    <div class="landingpage">
        <div class="navbar">
            <a class="navlogo">Consultar car</a>
            <button class="hamburger">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor"
                    stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-menu">
                    <path d="M3 12h18M3 6h18M3 18h18" />
                </svg>
            </button>

            <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1286911743158873"
            crossorigin="anonymous"></script>
           <!-- bloco 01 -->
           <ins class="adsbygoogle"
               style="display:block"
               data-ad-client="ca-pub-1286911743158873"
               data-ad-slot="9822137866"
               data-ad-format="auto"
               data-full-width-responsive="true"></ins>
           <script>
               (adsbygoogle = window.adsbygoogle || []).push({});
           </script>
       
           <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1286911743158873"crossorigin="anonymous"></script>

            <div class="navlinkwrap">
                <span class="navlink selectedlink">Home</span>
                <span class="navlink">Nosso serviço</span>
                <!-- <span class="navlink">Activity</span>
                <span class="navlink">How It Works</span> -->
            </div>
            <div class="buttonwrap">
                <a href="/fazerCadastro" target="_blank" rel="noopener noreferrer"><button class="createbtn selectedbtn">Criar conta</button></a>
                <a href="/fazerLogin" target="_blank" rel="noopener noreferrer"><button class="createbtn">Login</button></a>
            </div>
        </div>
        <div class="box">
            <div class="infobox">
                <p class="infobox-boldtext">
                    Consulte pela placa e receba diversas informações
                </p>

                <ins class="adsbygoogle"
               style="display:block"
               data-ad-client="ca-pub-1286911743158873"
               data-ad-slot="9822137866"
               data-ad-format="auto"
               data-full-width-responsive="true"></ins>
           <script>
               (adsbygoogle = window.adsbygoogle || []).push({});
           </script>
       
           <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1286911743158873"crossorigin="anonymous"></script>
                <p class="infobox-slimtext">
                    A maneira mais simples, rápida e <strong>grátis</strong> de buscar informações de um veículo através da placa
                </p>
                <div class="infobox-btnwrapper">
                    <a href="/fazerLogin" target="_blank" rel="noopener noreferrer"><button class="infobox-explorebtn selected">Consultar</button></a>
                    <a href="/fazerCadastro" target="_blank" rel="noopener noreferrer"><button class="infobox-createbtn">Criar conta</button></a>
                </div>
            </div>
            <div class="display">
                <img class="display-nft"
                    src="https://img.freepik.com/fotos-gratis/grande-angulo-de-motocicleta-velha_23-2148703182.jpg?w=740&t=st=1668368781~exp=1668369381~hmac=29988371321b897953b7e4faa64e7f4c96a3b2d1966c88de3aa37b4f7bbe8a4e"
                    alt="unsplash-OG44d93i-NJk" border="0">
            </div>
        </div>
        <div class="started" id="serviço">
            <p class="started-boldtext">Nossos dados</p>
            <p class="started-slimtext">TUDO QUE VOCÊ PRECISA SABER SOBRE O VEICULO DOS SEUS SONHOS!</p>
            <div class="started-items">
                <div class="itemwrapper">
                    <div class="started-items-item">
                        <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36">
                            <path style="stroke:none;fill-rule:nonzero;fill:#e0e0e0;fill-opacity:1"
                                d="M24.7969 14.6719c.4375-.4414.4375-1.1524 0-1.5938-.4414-.4375-1.1524-.4375-1.5938 0L16.5 19.7851l-2.9531-2.957c-.4414-.4375-1.1524-.4375-1.5938 0-.4375.4414-.4375 1.1524 0 1.5938l3.75 3.75a1.1246 1.1246 0 0 0 1.5938 0Zm0 0" />
                            <path style="stroke:none;fill-rule:evenodd;fill:#e0e0e0;fill-opacity:1"
                                d="M18.8086.957a2.6005 2.6005 0 0 0-1.6172 0L4.8164 4.9688C3.7344 5.3202 3 6.3241 3 7.4648V15c0 9.2852 5.6563 16.0586 14.1016 19.246a2.5853 2.5853 0 0 0 1.7968 0C27.3438 31.0587 33 24.2853 33 15V7.4648a2.6182 2.6182 0 0 0-1.8164-2.496Zm-.9219 2.1368a.3738.3738 0 0 1 .2266 0l12.375 4.0117c.1601.0547.2617.1992.2617.3593V15c0 8.1914-4.9219 14.2227-12.6445 17.1367a.2815.2815 0 0 1-.211 0C10.172 29.2227 5.25 23.1914 5.25 15V7.4648c0-.1601.1016-.3046.2617-.3593Zm0 0" />
                        </svg>
                    </div>
                    <p>Restrições e impedimetos</p>
                </div>
                <div class="itemwrapper">
                    <div class="started-items-item">
                        <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36">
                            <path style="stroke:none;fill-rule:evenodd;fill:#bdbdbd;fill-opacity:1"
                                d="M4.125 3C2.6758 3 1.5 4.1758 1.5 5.625v5.25c0 1.4492 1.1758 2.625 2.625 2.625h27.75c1.4492 0 2.625-1.1758 2.625-2.625v-5.25C34.5 4.1758 33.3242 3 31.875 3Zm27.75 2.25H4.125c-.207 0-.375.168-.375.375v5.25c0 .207.168.375.375.375h27.75c.207 0 .375-.168.375-.375v-5.25c0-.207-.168-.375-.375-.375Zm0 0" />
                            <path style="stroke:none;fill-rule:nonzero;fill:#bdbdbd;fill-opacity:1"
                                d="M4.125 15c.621 0 1.125.504 1.125 1.125v14.25c0 .207.168.375.375.375h24.75c.207 0 .375-.168.375-.375v-14.25c0-.621.504-1.125 1.125-1.125S33 15.504 33 16.125v14.25C33 31.8242 31.8242 33 30.375 33H5.625C4.1758 33 3 31.8242 3 30.375v-14.25C3 15.504 3.504 15 4.125 15Zm0 0" />
                            <path style="stroke:none;fill-rule:nonzero;fill:#bdbdbd;fill-opacity:1"
                                d="M14.625 17.25c-.621 0-1.125.504-1.125 1.125s.504 1.125 1.125 1.125h6.75c.621 0 1.125-.504 1.125-1.125s-.504-1.125-1.125-1.125Zm0 0" />
                        </svg>
                    </div>
                    <p>Dados cadastrais estaduais</p>
                </div>
                <div class="itemwrapper">
                    <div class="started-items-item">
                        <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36">
                            <path style="stroke:none;fill-rule:nonzero;fill:#e0e0e0;fill-opacity:1"
                                d="M24.7969 14.6719c.4375-.4414.4375-1.1524 0-1.5938-.4414-.4375-1.1524-.4375-1.5938 0L16.5 19.7851l-2.9531-2.957c-.4414-.4375-1.1524-.4375-1.5938 0-.4375.4414-.4375 1.1524 0 1.5938l3.75 3.75a1.1246 1.1246 0 0 0 1.5938 0Zm0 0" />
                            <path style="stroke:none;fill-rule:evenodd;fill:#e0e0e0;fill-opacity:1"
                                d="M18.8086.957a2.6005 2.6005 0 0 0-1.6172 0L4.8164 4.9688C3.7344 5.3202 3 6.3241 3 7.4648V15c0 9.2852 5.6563 16.0586 14.1016 19.246a2.5853 2.5853 0 0 0 1.7968 0C27.3438 31.0587 33 24.2853 33 15V7.4648a2.6182 2.6182 0 0 0-1.8164-2.496Zm-.9219 2.1368a.3738.3738 0 0 1 .2266 0l12.375 4.0117c.1601.0547.2617.1992.2617.3593V15c0 8.1914-4.9219 14.2227-12.6445 17.1367a.2815.2815 0 0 1-.211 0C10.172 29.2227 5.25 23.1914 5.25 15V7.4648c0-.1601.1016-.3046.2617-.3593Zm0 0" />
                        </svg>
                    </div>
                    <p>Débitos e multas</p>
                </div>
                <div class="itemwrapper">
                    <div class="started-items-item">
                        <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36">
                            <path style="stroke:none;fill-rule:evenodd;fill:#bdbdbd;fill-opacity:1"
                                d="M4.125 3C2.6758 3 1.5 4.1758 1.5 5.625v5.25c0 1.4492 1.1758 2.625 2.625 2.625h27.75c1.4492 0 2.625-1.1758 2.625-2.625v-5.25C34.5 4.1758 33.3242 3 31.875 3Zm27.75 2.25H4.125c-.207 0-.375.168-.375.375v5.25c0 .207.168.375.375.375h27.75c.207 0 .375-.168.375-.375v-5.25c0-.207-.168-.375-.375-.375Zm0 0" />
                            <path style="stroke:none;fill-rule:nonzero;fill:#bdbdbd;fill-opacity:1"
                                d="M4.125 15c.621 0 1.125.504 1.125 1.125v14.25c0 .207.168.375.375.375h24.75c.207 0 .375-.168.375-.375v-14.25c0-.621.504-1.125 1.125-1.125S33 15.504 33 16.125v14.25C33 31.8242 31.8242 33 30.375 33H5.625C4.1758 33 3 31.8242 3 30.375v-14.25C3 15.504 3.504 15 4.125 15Zm0 0" />
                            <path style="stroke:none;fill-rule:nonzero;fill:#bdbdbd;fill-opacity:1"
                                d="M14.625 17.25c-.621 0-1.125.504-1.125 1.125s.504 1.125 1.125 1.125h6.75c.621 0 1.125-.504 1.125-1.125s-.504-1.125-1.125-1.125Zm0 0" />
                        </svg>
                    </div>
                    <p>Dados cadastrais federais</p>
                </div>
            </div>
        </div>


        <div class="started">
            <p class="started-boldtext">Veja como é fácil realizar a consulta</p>
            <p class="started-slimtext">Confira o passo a passo</p>
            <div class="box">
                <div class="display">
                    <img class="display-nft"
                        src="/static/images/Captura de tela_20221113_201048.png"
                        alt="unsplash-OG44d93i-NJk" border="0">
                        <p class="started-slimtext" style="text-align: center;">Login ou <a href="/fazerLogin" target="_blank" rel="noopener noreferrer">cadastre-se</a> GRATIS</p>
                </div>
                <div class="display">
                    <img class="display-nft"
                        src="/static/images/Captura de tela_20221113_201211.png"
                        alt="unsplash-OG44d93i-NJk" border="0">
                        <p class="started-slimtext" style="text-align: center;">Digite a placa</p>
                </div>
                <div class="display">
                    <img class="display-nft"
                        src="https://img.freepik.com/fotos-gratis/grande-angulo-de-motocicleta-velha_23-2148703182.jpg?w=740&t=st=1668368781~exp=1668369381~hmac=29988371321b897953b7e4faa64e7f4c96a3b2d1966c88de3aa37b4f7bbe8a4e"
                        alt="unsplash-OG44d93i-NJk" border="0">
                        <p class="started-slimtext" style="text-align: center;">Confira os dados</p>
                </div>
            </div>
        </div><br>
        <!-- <div class="footer">
            <div class="footer-main">
                Etiam et id tincidunt faucibus mollis a sociis pretium fermentum quis magna faucibus lacus.
            </div>
            <div class="footer-navigate">
                <div class="nav">
                    <h5>Marketplace</h5>
                    <p>Home</p>
                    <p>Activity</p>
                    <p>Discover</p>
                    <p>Learn more</p>
                </div>
                <div class="nav">
                    <h5>Company</h5>
                    <p>About Us</p>
                    <p>Services</p>
                    <p>Portfolio</p>
                </div>
                <div class="nav">
                    <h5>Contact</h5>
                    <p>Facebook</p>
                    <p>Instagram</p>
                    <p>Twitter</p>
                    <p>Email</p>
                </div>
            </div>
        </div> -->
        <div class="footer2">
            <div></div>
            <p>Copyright 2022</p>
        </div>
    </div>
</body>

</html>