<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="../static/index.css">
   <title>Busca veiculo</title>
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
   <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
</head>

<body>
   <div class="login-box">
      <h2>Consulta veiculo</h2>
      <form action="{{ url_for('enviar') }}" method="post">
         <div class="user-box">
            <input type="text" id="email" name="email" name="" required="">
            <label>Email</label>
         </div>
         <div class="user-box">
            <input type="text" id="placa" name="placa" name="" required="">
            <label>Placa</label>
         </div>
         <div class="form-group col-md-15">
            <select id="inputEstado" class="form-control">
              <option selected>Tipo consulta</option>
              <option>...</option>
            </select>
          </div>
         
         <!-- <a type="submit">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Enviar
         </a> -->
         <button type="submit" class="btn btn-primary btn-salvar">Enviar</button>
      </form>
   </div>
</body>

</html>