<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/static/style.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
		integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
		integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
		integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
		crossorigin="anonymous"></script>
	<link rel="canonical" href="https://getbootstrap.com/docs/5.2/examples/dashboard/">
  <link rel="stylesheet" href="/static/owl.carousel.min.css">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="/static/bootstrap.min.css">

  <!-- Style -->
  <link rel="stylesheet" href="/static/style.css">

  <title>{{ dadosDataBase['marca'] }}</title>
</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Alterna navegação">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#">Ajuda</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Perfil</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="container text-center" style="margin-top: 34px">
    <div class="row align-items-start">
      <div class="col">
        <div class="card mb-3" style="max-width: 20rem;">
          <div class="card-header">Débitos e Multas</div>
          <div class="card-body text-secondary">
            <h5 class="card-title">{{ Alerta_multas }}</h5><br>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalMultas">
              Listar Multas
            </button>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card mb-3" style="max-width: 20rem;">
          <div class="card-header">Restrições</div>
          <div class="card-body text-secondary">
            <h5 class="card-title">{{ msg_alerta_impedimentos }}</h5><br>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalExemplo">
              Dados cadastrais
            </button>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card border-info mb-3" style="max-width: 20rem;">
          <div class="card-header">Restrições nacionais</div>
          <div class="card-body text-secondary">
            <h5 class="card-title">{{dataVerificacao}}</h5><br>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalExemplo">
              Dados cadastrais
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="modal fade" id="modalMultas" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Descrição de multas</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

          <div class="table-responsive">
            <table class="table table-striped table-sm">
              <!-- <thead>
												<tr>
													
												</tr>
											</thead> -->
              <tbody>
                {% for row in lista_descricao_multas %}
                <tr>
                  <td class="text-left">{{ row[1] }}</td>
                  <td class="text-left"> <a href=https://www2.detran.rn.gov.br/{{row[0]}}>Link da multa</a></td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
        </div>
      </div>
    </div>
  </div>


  <div class="content">

    <div class="container">
      <h2 class="mb-5">Modelo: {{ dadosDataBase['marca'] }} <br>Municipio: {{ dadosConsultaDetran['municipio'] }}/{{
        dadosDataBase['uf'] }}</h2>


      <div class="table-responsive custom-table-responsive">

        <table class="table custom-table">
          <tbody>
            <tr scope="row">
              <td><a href="#">Placa e Renavam</a></td>
              <td>
                {{ dadosDataBase['placa'] }}
                <small id="placa" class="d-block">{{ dadosDataBase['renavam'] }}</small>
              </td>
              <td>
                <button onclick="copiarHTML()">
                  copiar
                </button>

              </td>
            </tr>
            <tr class="spacer">
              <td colspan="100"></td>
            </tr>
            <tr>

              <td><a href="#">Ano de Fabricação</a></td>
              <td>
                {{ dadosConsultaDetran['ano_fabricacao'] }}
              </td>
              <td>
                <button onclick="copiarHTML()">
                  Copiar
                </button>
              </td>
            </tr>
            <tr class="spacer">
              <td colspan="100"></td>
            </tr>
            <tr>

              <td><a href="#">Documento proprietário</a></td>
              <td>
                {{ dadosDataBase['cpf_ou_cnpj_propietario'] }}
              </td>
              <td>
                <button onclick="copiarHTML()">
                  Copiar
                </button>
              </td>
            </tr>
            <tr class="spacer">
              <td colspan="100"></td>
            </tr>
            <tr>
          </tbody>
        </table>
      </div>
    </div><br>


    <div class="container">
      <h2 class="mb-5">Dados cadastrais</h2>


      <div class="table-responsive custom-table-responsive">

        <table class="table custom-table">
          <tbody>
            <tr scope="row">
              <td><a href="#">Licenciamento</a></td>
              <td>
                {{ dadosConsultaDetran['licenciamento'] }}
              </td>
              <td>
                <button onclick="copiarHTML()">
                  copiar
                </button>

              </td>
            </tr>


            <tr class="spacer">
              <td colspan="100"></td>
            </tr>
            <tr>

              <td><a href="#">Restrição de venda</a></td>
              <td>
                {{ dadosConsultaDetran['restricao_venda'] }}
              </td>
              <td>
                <button onclick="copiarHTML()">
                  Copiar
                </button>
              </td>
            </tr>
            <tr class="spacer">
              <td colspan="100"></td>
            </tr>
            <tr>

              <td><a href="#">Informações pendentes</a></td>
              <td>
                {{ dadosConsultaDetran['informacao_pendetes'] }}
              </td>
              <td>
                <button onclick="copiarHTML()">
                  Copiar
                </button>
              </td>
            </tr>
            <tr class="spacer">
              <td colspan="100"></td>
            </tr>
            <tr>

            <tr scope="row">
              <td><a href="#">Impedimentos</a></td>
              <td>
                {{ dadosConsultaDetran['impedimentos'] }}
              </td>
              <td>
                <button onclick="copiarHTML()">
                  copiar
                </button>

              </td>
            </tr>


            <tr class="spacer">
              <td colspan="100"></td>
            </tr>
            <tr>

              <td><a href="#">Multas</a></td>
              <td>
                {{ dadosConsultaDetran['multa'] }}
              </td>
              <td>
                <button onclick="copiarHTML()">
                  Copiar
                </button>
              </td>
            </tr>
            <tr class="spacer">
              <td colspan="100"></td>
            </tr>
            <tr>

              <td><a href="#">Debitos</a></td>
              <td>
                {{ dadosConsultaDetran['debitos'] }}
              </td>
              <td>
                <button onclick="copiarHTML()">
                  Copiar
                </button>
              </td>
            </tr>
            <tr class="spacer">
              <td colspan="100"></td>
            </tr>
            <tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>

  <script>
    function copiarTexto() {
      let textoCopiado = document.getElementById("placa");
      textoCopiado.select();
      textoCopiado.setSelectionRange(0, 99999)
      document.execCommand("copy");
      alert("O texto é: " + textoCopiado.value);
    }
  </script>

  <script src="js/jquery-3.3.1.min.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/main.js"></script>
</body>

</html>